{% extends "emails/base.html" %}

{% block title %} New Slot Request {% endblock title %}

{% block content %}
    <p>New slot for "<strong>{{ slot.slot_date }}</strong>" has been requested.</p>
    <p>Slot Date: {{ slot.slot_date }}</p>
    <p>Slot Time: {{ slot.slot_time }}</p>
    <p>Slot Duration: {{ slot.duration }}hrs</p>
    <p>Number of Kids: {{ slot.number_of_kids }}</p>
    <p>Age of Kid(s): {{ slot.kids_age }}</p>
    <p>Location: {{ slot.location }}</p>
    <p>Additional Info: {{ slot.additional_info }}</p>

    <p>Please reply email to notify interest.</p>
    <p>Regards,<br>
    The {{ site_name }} Team
    </p>
{% endblock content %}